html
	head
		title!= title
		script(type='text/javascript').
			console.log('Started');
			function like() {
				var p = document.getElementById('likes');
				
				// Update likes by adding 1
				var text = p.innerHTML;
				var likes = parseInt(text.substring(0, text.indexOf(' '))) + 1;
				p.innerHTML = likes + ' likes';
				
				var http = new XMLHttpRequest();
				var url = window.location.href;
				var params = "likes=true";
				http.open("POST", url, true);

				//Send the proper header information along with the request
				http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				http.send(params);
			}
			
			function comment() {
				console.log('Comment');
				var c = document.getElementById('comment');
				
				var text = c.value;
				
				var http = new XMLHttpRequest();
				var url = window.location.href;
				var params = "comment=" + text;
				http.open("POST", url, true);

				//Send the proper header information along with the request
				http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				http.onreadystatechange = function() { //Call a function when the state changes.
			    if(http.readyState == 4 && http.status == 200) {
						c.value = "";
						var list = document.getElementById('comments');
						var entry = document.createElement('li');
						entry.appendChild(document.createTextNode(text));
						list.appendChild(entry);
			    }
				}
				http.send(params);
			}
	body
		h1!= title
		img(src!= path)
		p!= description
		p!= time
		p(id='likes') #{likes} likes
		button(type='button', onclick='like()') Like
		ul
			each tag in tags
				li!= tag
		p Comments
		ul(id='comments')
			each comment in comments
				li!= comment
		input(type="text", id="comment")
		button(type="button",onclick="comment()") Comment
				
