html
	head
		title!= title
	body
		h1!= title
		img(src!= path)
		p!= description
		p!= time
		p #{likes} likes
		ul
			each tag in tags
				li!= tag
		p Comments
		ul
			each comment in comments
				li!= comment
				